*.vcxproj
*.user
*.opt
*.sbr
*.sdf
*.suo
*.sln
*.dsw
*.opensdf
*.ncb
*.ipch
*.vs
*.obj
*.bsc
*.pch
*.lib
*.exp
*.pdb
*.o
*.so
Browse.VC.*
linux/debugi386
linux/releasei386
Executable/Debug
dlls/game/Debug
dlls/Debug
ipch