*.vcxproj
*.user
*.opt
*.sbr
*.sdf
*.suo
*.sln
*.dsw
*.opensdf
*.ncb
*.ipch
*.vs
*.obj
*.bsc
*.pch
*.lib
*.exp
*.pdb
*.o
*.so
*.tlog
Browse.VC.*
linux/debugi386
linux/releasei386
Executable/Debug
dlls/game/Debug
dlls/game/Release
dlls/game/Obj
dlls/Debug
dlls/Release
ipch
dlls/game/game.Build.CppClean.log
dlls/game/game.dll.recipe
dlls/game/game.ilk
dlls/game/game.log
dlls/game/vc.nativecodeanalysis.all.xml
bots_fix_experimental.txt
